
		.button-container{
			display:flex;
			justify-content: center;
			margin: 0 auto;
		}
		nav{
			background-color: lightblue;
		}

		button{
			margin:0 5px;
		}		
		h1 {
			color: darkgrey;
			text-align: center;
			font-family: "Georgia", serif;
			font-weight: bold;
		}
		h2 {
			font-size: 20px;
			text-align: center;
		}
		p {
			font-family: serif;
			text-align: center;
		}
		img { 
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
		body {
  			background-color: lightpink;
		}
		body {
  			margin: 20px;
