
      nav {
        background-color: lightblue;
      }
      h1 {
        color: dimgrey;
        font-size: 24px;
        text-align: center;
        font-family: "Georgia", serif;
        font-weight: bold;
      }
      h2 {
        color: brown;
        font-size: 18px;
      }
      p {
        color: black;
        font-size: 14px;
      }
      ul {
        list-style-type: disc;
      }
      dl {
        margin-left: 40px;
      }
      img{
        width: 250px;
        height: 400px;
      }
      body {
      background-color: lightpink;
      }
      body {
        margin: 30px;
      }
