      nav {
        background-color: lightblue;
      }
      h1 {
        color: blue;
        font-size: 24px;
        text-align: center;
        font-family: "Georgia", serif;
        font-weight: bold; 
      }
      h2 {
        color: green;
        font-size: 18px;
        text-align: center;
      }
      p {
        color: red;
        font-size: 14px;
      }
      ul {
        list-style-type: disc;
      }
      dl {
        margin-left: 40px;
      }
      img{
        width: 350px;
        height: 420px;
      }
      body {
        background-color: lightpink;
      }
      body {
        margin: 20px;
